.section-hero {
  background-image: url('../../images/Hero.png');
  background-repeat: no-repeat;
  background-position: right;
  height: 821px;
}

.hero-title {
  margin-top: 102px;
  margin-bottom: 29px;
}

.content-hero {
  max-width: 520px;
  margin-bottom: 97px;
}

.wrapper-content {
  max-width: 576px;
  display: flex;
  flex-direction: column;
  -webkit-text-stroke: 0.2px white;
}

.btn-hero {
   -webkit-text-stroke: 0px;
}
