.section-hero {
  position: relative;
  /* background-image: url("../../images/Hero.png");
  background-repeat: no-repeat;
  background-position: right; */
}

.hero-title {
  margin-top: 102px;
  margin-bottom: 29px;
  letter-spacing: -3px;
}

.content-hero {
  max-width: 520px;
  margin-bottom: 97px;
}

.wrapper-content {
  max-width: 576px;
  display: flex;
  flex-direction: column;
  -webkit-text-stroke: 0.2px white;
}

.btn-hero {
  -webkit-text-stroke: 0px;
}

.section-hero__img {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-image: url("../../images/Hero.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
}
